.status_change{
    margin: 0px;
    padding: 0px;
}

.status_change table{
    padding: 0px;
    margin: 0px;
}

.status_change #status{
    border: 1px solid #d7e5fe;
    width: 240px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.status_change #submit{
}