<div style="clear: both;text-align:justify;padding-bottom: 20px;">
  <%= image_tag 'versions/1/menu.png', :style => 'float:left;margin:10px;' %>
  <h3>Navigace</h3>
  <p>Aktivní sekce menu je vždy první a zvýrazněná. Vyberete-li jinou sekci, ta se
  přesune na první pozici jako zvýrazněná, a předchozí sekce se zařadí zpět na
  své místo. Pod aktivní sekcí je zobrazeno podmenu dané sekce. Aktivní stránka
  je vždy zvýrazněna.</p>
</div>
<div style="clear: both;text-align:justify;padding-bottom: 20px;">
  <%= image_tag 'versions/1/flashes.png', :style => 'float:right;margin:10px;' %>
  <h3>Informace o provedé akci</h3>
  <p>Je-li provedena nějaká akce, zobrazí o výsledku této akce informace. Tato je
  umístěna v pravé části menu na úrovni podsekcí. Text zprávy je vždy doprovázen
  ikonkou vyznačující stav akce: Informace / Varování / Chyba. Zpráva se zobrazuje
  vždy jen jednou, po přejití na jinou stránky či aktualizaci dané stránky se
  zpráva již neukáže.</p>
</div>
<div style="clear: both;text-align:justify;padding-bottom: 20px;">
  <%= image_tag 'versions/1/profile.png', :style => 'float:left;margin:10px;' %>
  <h3>Panel s detaily Vašeho profilu a častými akcemi</h3>
  <p>V levé horní části je zobrazeno Vaše jméno zadané při registraci, pod ním je
  Váš status, který si nastavíte v přehledu. V dolní čísti jsou rychlé odkazy.
  Přehled obsahuje informace o událostech u Vašich přátel i komunitách kterými
  jste členy. Druhá akce je poslání zprávy jinému uživateli systému, případně
  na e-mail ne-člena.</p>
  <p>Pravá půolovina zobrazuje v horní části Váš obrázek. Pod obrázkem jsou
  další rychlé funkce. Následující tabulka ukazuje významy jednotlivých ikonek:</p>
  <table>
    <tr>
      <td><%= image_tag 'icons/logout.png' %></td>
      <td>Odhlášení ze systému</td>
    </tr>
  </table>
</div>