<% partial 'shared/box', :size=> 'big', :title => 'public.user' do %>
    <p>Na Váš e-mail byl odeslán ověřovací e-mail. Po ověření Vašeho e-mailu Vám bude povoleno přihlašování.</p>
    <a href="<%= url_for :controller => 'public', :action => 'index' %>">Zpět na úvodní stránku</a>
<% end %>